name: Tests

on:
  pull_request: {}
  push:
    branches:
      - main

jobs:
  unit:
    name: Unit tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: ['1.23.x', '1.24.x']
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Setup Go ${{ matrix.go-version }}
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}

      - name: Install dependencies
        run: |
          go get ./...

      - name: Run tests
        run: go test ./...

      - name: Run fuzzy field tests
        run: |
          go test -tags=fuzz -fuzz=Fuzz -fuzztime=30s github.com/elliottech/poseidon_crypto/field
      - name: Run fuzzy signature tests
        run: |
          go test -tags=fuzz -fuzz=Fuzz -fuzztime=30s github.com/elliottech/poseidon_crypto/signature/schnorr
      - name: Run fuzzy int tests
        run: |
          for test in $(go test -list='Fuzz.*' github.com/elliottech/poseidon_crypto/int | grep ^Fuzz); do
              go test -fuzz="^${test}$" -fuzztime=30s github.com/elliottech/poseidon_crypto/int
          done
      - name: Run fuzzy ecgfp5 tests
        run: |
          for test in $(go test -list='Fuzz.*' github.com/elliottech/poseidon_crypto/curve/ecgfp5 | grep ^Fuzz); do
              go test -fuzz="^${test}$" -fuzztime=30s github.com/elliottech/poseidon_crypto/curve/ecgfp5
          done

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Setup Go 1.23.x
        uses: actions/setup-go@v5
        with:
          go-version: 1.23.x

      # TODO: update version
      - name: Install golangci-lint
        run: |
          go install github.com/golangci/golangci-lint/cmd/golangci-lint@v1.61.0

      - name: Run golangci-lint
        run: |
          golangci-lint run ./...
